.banner {
  height: 386px;
  background-position: center;
}

.pick-and-feed {
  padding-top: 43px;
}

.donation-wrapper__article {
  color: #ffffff;
}

.donation-wrapper__article-title {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.donation-wrapper__article-p_select {
  font-weight: 500;
}

.donation-wrapper__article-p {
  line-height: 1.34;
  letter-spacing: 0.04px;
  margin-top: 14px;
}

.donation-wrapper__subtitle {
  font-size: 36px;
  font-weight: 400;
  color: #f9804b;
  margin: 50px 0 62px;
}

.pick-and-feed__wrapper {
  padding: 41px 92px;
}

.pick-and-feed__title {
  position: relative;
  left: 13px;
}

.pick-and-feed__subtitle {
  margin-top: 23px;
}

.pick-and-feed__article {
  padding-bottom: 37px;
}

.pick-and-feed__img-wrapper {
  margin: 0 auto;
}

.pick-and-feed-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.pick-and-feed-img-div__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pick-and-feed-img-div__num {
  font-size: 72px;
  font-weight: 500;
  margin: 0;
}

.pick-and-feed-img-div__p {
  margin: 0;
}

.pick-and-feed-img-div__multiple {
  font-size: 35px;
  font-weight: 300;
  color: #333b41;
  padding: 0 9px 17px;
}

.pick-and-feed-img-div__img {
  padding: 0 34px;
  position: relative;
  bottom: 20px;
  left: 19px;
}

.pick-and-feed__amount-label {
  display: block;
  padding: 0 0 18px 4px;
}

.pick-and-feed__amount-range {
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  height: 27px;
  background-color: #404950;
  border-radius: 2px;
}

.pick-and-feed__amount-range::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  padding: 0 14px;
  position: relative;
  z-index: 2;
}

.pick-and-feed__amount-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url("../../assets/icons/roller_icon.svg");
  cursor: ew-resize;
  position: relative;
  z-index: 2;
}

.pick-and-feed__amount-track {
  position: relative;
  bottom: 19px;
  border: none;
  background: #72828e;
  height: 2px;
  width: 915px;
  margin: 0 auto;
}

.pick-and-feed__amount-dots {
  display: flex;
  column-gap: 120px;
  margin: 0 29px;
  position: relative;
  bottom: 25px;
}

.pick-and-feed__amount-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffee2e;
}

.pick-and-feed__amount-pays {
  display: flex;
}

.pick-and-feed__amount-pay,
.pick-and-feed__amount-pay_active {
  font-size: 26px;
  font-weight: 500;
}

.pick-and-feed__amount-pay_active {
  color: #fe9013;
}

.pick-and-feed__usd-sign {
  font-size: 24px;
}

.pick-and-feed__amount-pay-space-1{
  width: 5.8%;
}

.pick-and-feed__amount-pay-space-2{
  width: 7.3%;
}

.pick-and-feed__amount-pay-space-3{
  width: 7.5%;
}

.pick-and-feed__amount-pay-space-4{
  width: 9%;
}

.pick-and-feed__amount-number {
  display: block;
  width: 268px;
  height: 54px;
  background-image: url("../../assets/icons/usd-sign.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
  margin: 52px auto;
  padding: 0 7px;
  border: 1px solid #929699;
  border-radius: 2px;
}

.pick-and-feed__amount-number::-webkit-outer-spin-button,
.pick-and-feed__amount-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.pick-and-feed__amount-number:active {
  border: 1px solid #4b9200;
  color: #4b9200;
}