@font-face {
  font-family: pacifico;
  src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: sniglet;
  src: url("../fonts/Sniglet-Regular.ttf");
}

$color-dark: #1c361c;
$color-mid: #cde4cd;
$color-success: #3ca33c;
$color-success-pressed: #266626;
$color-light: #c4c4c4;
$color-superlight: #ffffff;

// Common styles

html {
  box-sizing: content-box;
  font-size: 10px;

  @media (max-width: 900px) {
    font-size: 8px;
  }
}

.body,
.body-game {
  background-color: $color-mid;
  font-family: pacifico, cursive;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

// Header

.header {
  background-color: $color-success;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.header__logo-wrapper {
  padding: 2rem;
  border-radius: 5px;
  transition-duration: 0.5s;

  &:hover {
    background-color: $color-success-pressed;
    cursor: pointer;
  }
}

.header__logo {
  height: 47px;
  padding-left: 8rem;
  background-image: url("../img/bird.svg");
  background-size: 52px;
  background-repeat: no-repeat;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg)
    brightness(103%) contrast(103%);

  @media (max-width: 768px) {
    height: 25px;
    padding-left: 28px;
    background-size: 28px;
  }
}

.header__logo-text {
  font-size: 3.4rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.header-nav__menu-btn {
  @media (max-width: 768px) {
    position: fixed;
    top: 3px;
    right: calc(2rem + 10%);
    z-index: 2;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
  }
}

.header-nav__ul {
  display: flex;
  margin: 0;
  box-shadow: none;
  transition-duration: 0.5s;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    right: -102%;
    z-index: 1;
    display: block;
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 145px 104px 0;
    background-color: $color-success;
  }
}

.header-nav__li {
  width: min-content;
  padding: 3.2rem;
  border-radius: 5px;
  color: $color-superlight;
  list-style: none;
  font-size: 2rem;
  font-family: sniglet, monospace;
  transition-duration: 0.5s;

  @media (max-width: 768px) {
    display: block;
    margin: 0 0 39px;
    padding: 10px;
    font-size: 35px;
    text-align: left;
    transition-duration: 0.5s;
  }

  &:hover {
    background-color: $color-success-pressed;
    cursor: pointer;
  }
}

.header-nav__menu-toggle {
  display: none;

  @media (max-width: 768px) {
    &:checked ~ .header-nav__menu-btn > .header-nav__hamburger-line {
      transform: rotate(45deg);
    }

    &:checked ~ .header-nav__menu-btn > .header-nav__hamburger-line::before {
      top: 0;
      transform: rotate(0);
    }

    &:checked ~ .header-nav__menu-btn > .header-nav__hamburger-line::after {
      top: 0;
      transform: rotate(90deg);
    }

    &:checked ~ .header-nav__ul {
      right: 0;
      box-shadow: 0 0 0 9999px rgba(0 0 0 / 50%);
    }

    &:checked ~ .header-nav__ul::before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.menu-btn {
  position: fixed;
  top: 20px;
  right: 64px;
  z-index: 3;
  display: none;
  align-items: center;
  width: 50px;
  height: 50px;

  @media (max-width: 768px) {
    display: flex;
  }
}

.header-nav__hamburger-line,
.header-nav__hamburger-line::before,
.header-nav__hamburger-line::after {
  @media (max-width: 768px) {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition-duration: 0.5s;
  }
}

.header-nav__hamburger-line::before {
  @media (max-width: 768px) {
    content: "";
    top: -12.5px;
  }
}

.header-nav__hamburger-line::after {
  @media (max-width: 768px) {
    content: "";
    top: 12.5px;
  }
}

.header-nav__menu-btn:active > .header-nav__hamburger-line,
.header-nav__menu-btn:active > .header-nav__hamburger-line::before,
.header-nav__menu-btn:active > .header-nav__hamburger-line::after {
  background-color: $color-mid;
}

// Main

.main {
  position: relative;
  overflow: hidden;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(100vh - 160px);

  @media (max-width: 768px) {
    min-height: calc(100vh - 104px);
  }
}

.title {
  color: $color-dark;
  font-weight: 400;
  font-size: 6.4rem;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 4rem;
  }

  &::after {
    content: "";
    position: relative;
    bottom: 97px;
    left: 244px;
    display: block;
    width: 35px;
    height: 32px;
    background-image: url("../img/bird.svg");
    background-size: 35px;
    filter: invert(7%) sepia(21%) saturate(7433%) hue-rotate(105deg)
      brightness(92%) contrast(78%);
    transform: scaleX(-1);

    @media (max-width: 768px) {
      bottom: 61px;
      left: 145px;
      width: 23px;
      height: 21px;
      background-size: 23px;
    }
  }
}

.main__start {
  display: block;
  width: 279px;
  height: 102px;
  padding: 0 0 5px 18px;
  border: none;
  border-radius: 5px;
  background-color: $color-success;
  color: $color-superlight;
  font-size: 4rem;
  transition-duration: 0.5s;

  @media (max-width: 768px) {
    width: 160px;
    height: 64px;
    padding: 0 0 2px 9px;
    border-radius: 5px;
    font-size: 2.4rem;
  }

  &:hover {
    background-color: $color-success-pressed;
    cursor: pointer;
  }

  &::before {
    content: "";
    position: relative;
    top: 4px;
    right: 32px;
    display: inline-block;
    width: 52px;
    height: 47px;
    background-image: url("../img/bird.svg");
    background-size: 52px;
    background-repeat: no-repeat;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg)
      brightness(100%) contrast(103%);

    @media (max-width: 768px) {
      right: 16px;
      width: 30px;
      height: 27px;
      background-size: 30px;
    }
  }
}

// Background-main

.main__back-circle,
.main__back-lbird,
.main__back-rbird {
  position: absolute;
  z-index: -1;
}

.main__back-circle {
  top: -523px;
  right: 85px;
  width: 1296px;
  height: 1296px;
  border-radius: 50%;
  background-color: #e5f5e5;

  @media (max-width: 768px) {
    top: auto;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: unset;
  }
}

.main__back-lbird {
  top: 264px;
  left: -132px;
  width: 399px;
  height: 361px;
  background-image: url("../img/bird.svg");
  background-size: 399px;
  filter: invert(96%) sepia(8%) saturate(546%) hue-rotate(60deg) brightness(96%)
    contrast(85%);

  @media (max-width: 768px) {
    top: 35%;
    left: -18%;
    width: 52vw;
    height: 47vw;
    background-size: 52vw;
  }
}

.main__back-rbird {
  top: 433px;
  right: -106px;
  width: 249px;
  height: 226px;
  background-image: url("../img/bird.svg");
  background-size: 249px;
  filter: invert(90%) sepia(2%) saturate(1254%) hue-rotate(71deg)
    brightness(110%) contrast(92%);
  transform: scaleX(-1);

  @media (max-width: 768px) {
    top: 53%;
    right: -9%;
    width: 32vw;
    height: 29vw;
    background-size: 32vw;
  }
}

// Footer

.footer {
  background-color: $color-success-pressed;
  color: $color-superlight;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.footer__github-wrapper {
  width: 120px;
}

.footer__rss-wrapper {
  width: 89px;
}

.footer__github-wrapper,
.footer__rss-wrapper {
  display: flex;
  padding: 20px;
  border-radius: 5px;
  transition-duration: 0.5s;

  @media (max-width: 768px) {
    width: 70px;
    padding: 10px;
  }

  &:hover {
    background-color: $color-success;
    cursor: pointer;
  }
}

.footer__github {
  width: 120px;
  background-image: url("../img/GitHub_Logo.svg");
  background-size: 120px;

  @media (max-width: 768px) {
    width: 70px;
    background-size: 70px;
  }
}

.footer__rss-logo {
  width: 89px;
  background-image: url("../img/rs_school_js.svg");
  background-size: 89px;

  @media (max-width: 768px) {
    width: 53px;
    background-size: 53px;
  }
}

.footer__github,
.footer__rss-logo {
  display: block;
  height: 33px;
  background-repeat: no-repeat;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg)
    brightness(100%) contrast(103%);

  @media (max-width: 768px) {
    height: 19px;
  }
}

.footer__year {
  position: relative;
  right: 15px;
  font-size: 2rem;

  @media (max-width: 768px) {
    right: 8px;
    font-size: 1.2rem;
  }

  &:hover {
    cursor: default;
  }
}

// Game
.body-game {
  background-color: $color-mid;
}

.top-panel {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.top-panel__questions-ul {
  padding: 0;
  list-style: none;
}

.game-title {
  color: $color-success-pressed;
  font-weight: 100;
  font-size: 3.4rem;
}

.top-panel__questions-li {
  font-size: 2rem;
  font-family: sniglet, monospace;
  line-height: 1.5;
}

.top-panel__score-text {
  font-size: 7.2rem;
}

.player-right-bird-info {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $color-light;

  @media (max-width:1350px) {
    flex-wrap: wrap;
    max-width: 73rem;
  }

  @media (max-width:615px) {
    max-width: 80%;
  }
}

// Players

.choosed-bird-player {
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
  background-color: $color-light;
}

.player__controls,
.choosed-bird-player__controls, {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  @media (max-width:615px) {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    max-width: 40rem;
  }
}

.player__play-button_paused,
.choosed-bird-player__play-button_paused {
  border: solid 2px $color-superlight;
  border-radius: 50%;
  background: transparent;
  background-image: url('../img/player__btn_play.svg');
  background-repeat: no-repeat;
}

.player__play-button_paused {
  width: 6rem;
  height: 6rem;
  background-position: right 1.3rem center;
  background-size: 2.5rem;
}

.choosed-bird-player__play-button_paused {
  width: 4rem;
  height: 4rem;
  background-position: right 0.8rem center;
  background-size: 1.5rem;
}

.player__progress,
.player__input-volume,
.choosed-bird-player__progress,
.choosed-bird-player__input-volume {
  appearance: none;
}

.player__progress,
.player__input-volume {
  height: 1rem;
  border-radius: 1rem;
}

.choosed-bird-player__progress,
.choosed-bird-player__input-volume {
  height: 0.7rem;
  border-radius: 0.7rem;
}

.player__progress,
.choosed-bird-player__progress {
  background: linear-gradient(to right, $color-success 0%, $color-success 1%, $color-mid 1%, $color-mid 100%);
}

.player__progress {
  width: 30rem;

  @media (max-width:420px) {
    width: 69%;
  }
}

.choosed-bird-player__progress {
  width: 26rem;
}

.player__progress::-webkit-slider-thumb,
.player__input-volume::-webkit-slider-thumb,
.choosed-bird-player__progress::-webkit-slider-thumb,
.choosed-bird-player__input-volume::-webkit-slider-thumb {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: $color-success-pressed;
  appearance: none;
}

.player__progress::-webkit-slider-thumb,
.player__input-volume::-webkit-slider-thumb {
  width: 2rem;
  height: 2rem;
}

.choosed-bird-player__progress::-webkit-slider-thumb,
.choosed-bird-player__input-volume::-webkit-slider-thumb {
  width: 1.4rem;
  height: 1.4rem;
}

.player__volume-group,
.choosed-bird-player__volume-group {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.player__volume-group {
  column-gap: 0.5rem;
}

.choosed-bird-player__volume-group {
  column-gap: 0.5rem;
}

.player__volume-btn,
.choosed-bird-player__volume-btn {
  border: none;
  background: transparent;
  background-image: url('../img/player__volume-btn.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.player__volume-btn {
  width: 3.5rem;
  height: 3.5rem;
}

.choosed-bird-player__volume-btn {
  width: 2.5rem;
  height: 2.5rem;
}

.player__input-volume,
.choosed-bird-player__input-volume {
  background: linear-gradient(to right, $color-success 0%, $color-success 50%, $color-mid 50%, $color-mid 100%);
}

.player__input-volume {
  width: 8rem;
}

.choosed-bird-player__input-volume {
  width: 6rem;
}

.player__time,
.choosed-bird-player__time {
  color: $color-dark;
}

.player__time {
  font-size: 3rem;

  @media (max-width:420px) {
    font-size: 2rem;
  }
}

.choosed-bird-player__time {
  font-size: 1.6rem;
}

.player__time-slash,
.choosed-bird-player__time-slash {
  position: relative;
}

.player__time-slash {
  top: 0.5rem;
}

.choosed-bird-player__time-slash {
  top: 0.3rem;
}

// Bird info block

.bird-info {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.bird-info__img {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: $color-superlight;
}

.bird-info__pict {
  width: 10rem;
  filter: invert(7%) sepia(21%) saturate(7433%) hue-rotate(105deg)
      brightness(92%) contrast(78%);

  @media (max-width:615px) {
    width: 7rem;
  }
}

.bird-info__name {
  // width: 30rem;
  color: $color-dark;
  font-size: 3.6rem;

  @media (max-width:615px) {
    font-size: 3rem;
  }
}

// Bottom panel

.bottom-panel {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.answer-variants {
  display: flex;
  flex-direction: column;

  @media (max-width:1347px) {
    min-width: 292px;
  }
}

.answer-variants__li {
  font-size: 2rem;
  font-family: sniglet, monospace;
  line-height: 1.5;
}

.choosed-bird-info {
  width: 600px;
  font-size: 2rem;
}

.choosed-bird-info__text {
  display: none;
  color: $color-success;
  font-style: italic;
  font-size: 3rem;
  font-family: sniglet, monospace;
}

.choosed-bird-info__info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid $color-light;
  border-radius: 1rem;
}

.choosed-bird-info__info-rname {
  padding: 1rem;
  font-size: 3rem;
}

.choosed-bird-info__info-lname {
  padding: 1rem;
  font-size: 1.8rem;
}

.choosed-bird-info__info-img {
  grid-row: 1 /3;
}

.choosed-bird-info__pict {
  width: 100px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: $color-light;
}

.choosed-bird-info__player {
  grid-column: 1 / 3;
}

.choosed-bird-info__audio {
  grid-column: 1 / 3;
}

.choosed-bird-info__short-info {
  grid-column: 1 / 3;
}