@font-face {
  font-family: pacifico;
  src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: sniglet;
  src: url("../fonts/Sniglet-Regular.ttf");
}

$color-dark: #1c361c;
$color-mid: #cde4cd;
$color-success: #3ca33c;
$color-success-pressed: #266626;
$color-superlight: #ffffff;

// Common styles

html {
  box-sizing: content-box;
  font-size: 10px;
}

.body {
  background-color: $color-mid;
  font-family: pacifico, cursive;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

// Header

.header {
  background-color: $color-success;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.header__logo-wrapper {
  padding: 2rem;
  border-radius: 0.8rem;
  transition-duration: .5s;

  &:hover {
    background-color: $color-success-pressed;
    cursor: pointer;
  }
}

.header__logo {
  min-width: 52px;
  height: 47px;
  padding-left: 8rem;
  background-image: url("../img/bird.svg");
  background-size: 52px;
  background-repeat: no-repeat;
  font-size: 3.4rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
}

.nav__ul {
  display: flex;
  margin: 0;
}

.nav__li {
  padding: 3.2rem;
  border-radius: 0.8rem;
  color: $color-superlight;
  list-style: none;
  font-size: 2rem;
  font-family: sniglet, monospace;
  transition-duration: .5s;

  &:hover {
    background-color: $color-success-pressed;
    cursor: pointer;
  }
}

// Main

.main {
  position: relative;
  overflow: hidden;
}

.main__wrapper::before {
  content: "";
  position: absolute;
  top: 264px;
  left: -132px;
  z-index: -1;
  width: 399px;
  height: 361px;
  background-image: url("../img/bird.svg");
  background-size: 399px;
  filter: invert(96%) sepia(8%) saturate(546%) hue-rotate(60deg) brightness(96%) contrast(85%);
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: calc(100vh - 160px);
}

.main__wrapper::after {
  content: "";
  position: absolute;
  top: 431px;
  right: -98px;
  z-index: -1;
  width: 249px;
  height: 226px;
  background-image: url("../img/bird.svg");
  background-size: 249px;
  filter: invert(90%) sepia(2%) saturate(1254%) hue-rotate(71deg) brightness(110%) contrast(92%);
  transform: scaleX(-1);
}

.title::before {
  content: "";
  position: absolute;
  top: -523px;
  left: -307px;
  z-index: -2;
  display: block;
  width: 109vw;
  max-width: 1296px;
  height: 109vw;
  max-height: 1296px;
  border-radius: 50%;
  background-color: #e5f5e5;
}

.title {
  color: $color-dark;
  font-weight: 400;
  font-size: 6.4rem;
  text-align: center;
}

.title::after {
  content: "";
  position: relative;
  bottom: 97px;
  left: 244px;
  display: block;
  width: 35px;
  height: 32px;
  background-image: url("../img/bird.svg");
  background-size: 35px;
  filter: invert(7%) sepia(21%) saturate(7433%) hue-rotate(105deg) brightness(92%) contrast(78%);
  transform: scaleX(-1);
}

.main__start::before {
  content: "";
  position: relative;
  top: 4px;
  right: 32px;
  display: inline-block;
  width: 52px;
  height: 47px;
  background-image: url("../img/bird.svg");
  background-size: 52px;
  background-repeat: no-repeat;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(100%) contrast(103%);
}

.main__start {
  display: block;
  width: 279px;
  height: 102px;
  padding: 0 0 5px 18px;
  border: none;
  border-radius: 0.8rem;
  background-color: $color-success;
  color: $color-superlight;
  font-size: 4rem;
  transition-duration: .5s;

  &:hover {
    background-color: $color-success-pressed;
    cursor: pointer;
  }
}

// Footer
.footer {
  background-color: $color-success-pressed;
  color: $color-superlight;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.footer__github-wrapper {
  width: 120px;
}

.footer__rss-wrapper {
  justify-content: end;
  width: 89px;
}

.footer__github-wrapper,
.footer__rss-wrapper {
  display: flex;
  padding: 20px;
  border-radius: 0.8rem;
  transition-duration: .5s;

  &:hover {
    background-color: $color-success;
    cursor: pointer;
  }
}

.footer__github,
.footer__rss-logo {
  display: block;
  height: 33px;
  background-repeat: no-repeat;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(100%) contrast(103%);
}

.footer__github {
  width: 120px;
  background-image: url("../img/GitHub_Logo.svg");
  background-size: 120px;
}

.footer__year {
  font-size: 2rem;

  &:hover {
    cursor: default;
  }
}

.footer__rss-logo {
  width: 89px;
  background-image: url("../img/rs_school_js.svg");
  background-size: 89px;
}