@font-face {
  font-family: 'Merriweather';
  src: url(./assets/fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: 'Merriweather';
  src: url(./assets/fonts/Merriweather-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}

html {
  scroll-behavior: smooth; 
}

body {
  /* margin: 0; */
  background-color: #000000;  
  font-family: Inter;
}

ul {
  list-style: none;
  color: #ffffff;  
  padding: 0;
  margin: 0;  
  line-height: 2;
}

li {
  display: block;
  text-align: center;
}

* {
  box-sizing: border-box;
}

button {
  width: 220px;
  height: 55px;
  transition: 0.3s;
  font-size: 20px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
  width: 50px;
  height: 40px;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  padding: 0px 15px;
  line-height: 50px;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0.1px;
}

.nav-link:hover {
  color: #bdae82;
}

.header .container {
  flex-direction: row;
  background: url('./assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  height: 90px;
}

.changeLang {
  padding-left: 16px;
}

a {
  text-decoration: none;
  color: unset;
}

.language {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.language a:hover,
.language :target {
  color: #bdae82;
}

.container-hero {
  padding-top: 182px;
  width: 1440px;
  height: 820px;
  margin: 0 -20px 100px;
  background-image: url(./assets/img/header-bg.jpg);
  background-position: center -90px;
  background-repeat: no-repeat;
}

.section {
  width: 100%;
  padding-bottom: 100px;
}

.hero {
  padding-left: 80px;
  width: 560px;
}

h1,
h2 {
  font-family: Merriweather;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 33px;
}

h2 {
  font-size: 40px;
  color: #bdae82;
  height: 2px;
  background-color: #bdae82;
  text-align: center;
  width: 50%;
  margin: 0 auto 3.45em;
  position: relative;
  top: 39px;
}

p {
  color: #ffffff;
  margin: 0;
}

.hero p {
  font-size: 20px;
  line-height: 2;
  padding-bottom: 25px;
}


.section-title a {
  background-color: #000000;
  position: relative;
  top: -24px;
  padding: 0 20px;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-item {
  background-position: center top;
  background-repeat: no-repeat;
  width: 320px;
  padding: 88px 20px 0;
}

.skill-item:nth-child(1) {
  background-image: url('./assets/svg/camera.svg');
  background-size: 62px 50px;
}

.skill-item:nth-child(2) {
  background-image: url('./assets/svg/video.svg');
  background-size: 60px 50px;
}

.skill-item:nth-child(3) {
  background-image: url('./assets/svg/image.svg');
  background-size: 66px 50px;
}

.skill-item:nth-child(4) {
  background-image: url('./assets/svg/mic.svg');
  background-size: 32px 50px;
}

.skill-item h3 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  padding-bottom: 9px;
}

.skill-item p {
  font-size: 18px;
  text-align: center;
  line-height: 2;
}

.portfolio {
  padding-top: 9px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 60px;
}

.portfolio-button {
  color: #bdae82;
  background: transparent;
  border: 2px solid #bdae82;
}

.hire-me:hover,
.portfolio-button:hover,
.price-button:hover {
  color: #ffffff;
}

.hire-me,
.portfolio-button:focus,
.price-button {
  color: #000000;
  background: #bdae82;
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-play-button {
  background-color: transparent;
  position: absolute;
  padding: 0;
  margin: auto;
  background-image: url(./assets/svg/video-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  width: 130px;
  height: 130px;
}

.video-play-button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.price-items {
  display: flex;
  justify-content: space-between;
}

.price-card {
  width: 450px;
  height: 505px;
  border: 3px solid #bdae82;  
  padding-top: 21px;
}

.price-head {
  font-family: 'Merriweather';
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding-bottom: 12px;
}

.price-cost {
  font-family: 'Merriweather';
  font-size: 24px;
  font-weight: bold;
  color: #bdae82;
  text-align: center;
  padding-bottom: 29px;
}

.price-description-item {
  font-size: 18px;
}

.price-button {
  display: block;
  margin: 0 auto;
}

.price-description-list {
  padding-bottom: 39px;
}