@font-face {
  font-family: 'Merriweather', serif;
  src: url(./assets/fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: 'Merriweather', serif;
  src: url(./assets/fonts/Merriweather-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}

html {
  scroll-behavior: smooth; 
}

/* body {
  margin: 0;
  background-color: #000000;
} */

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
  width: 50px;
  height: 40px;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0px 15px;
  line-height: 50px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  transition: .3s;
}

.nav-link:hover {
  color: #bdae82;
}

.nav-item {
  letter-spacing: 0.046em;
}

.header .container {
  background: url('./assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  height: 90px;
}

.changeLang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  width: 86px;
}

.lang,
.slashLang {
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  transition: .3s;
}

.slashLang {
  padding-top: 3px;
}

.lang:hover {
  cursor: pointer;
  color: #bdae82;
}

