$color-light-body-bckgrnd: #f0f8ff;
$color-light-header-bckgrnd: #d3d3d3;
$color-light-footer-bckgrnd: #818181;
$color-light-cell-bckgrnd: #bfbfbf;
$color-btn-accept: #54ff54;
$color-btn-reject: #ff5b5b;
$color-font-one: #0b24fb;
$color-font-two: #0e7a11;
$color-font-three: #fc0d1b;
$color-font-four: #020b79;
$color-font-five: #852123;
$color-font-six: #278786;
$color-font-seven: #000000;
$color-font-eight: #878787;
$color-light-message-bckgrnd: #fffffff0;
$color-dark-body-bckgrnd: #483d8b;
$color-dark-header-bckgrnd: #191970;
$color-dark-footer-bckgrnd: #000000;
$color-dark-cell-bckgrnd: #a1a1a1;
$color-dark-message-bckgrnd: #525252f3;
$color-btn-dark-accept: #007a00;
$color-btn-dark-reject: #810000;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  @media (max-width:850px) {
    font-size: 56%;
  }

  @media (max-width:768px) {
    font-size: 45%;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $color-light-body-bckgrnd;
  user-select: none;
}

.wrapper {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.button {
  padding: 2rem;
  border: 0.1em solid transparent;
  border-radius: 0.5rem;
  background-color: $color-light-header-bckgrnd;
  font-size: 2rem;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
  }

  &:active {
    border: 0.1em solid $color-dark-footer-bckgrnd;
  }
}

// Header

.header {
  background-color: $color-light-header-bckgrnd;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  padding: 2rem 0;
  font-size: 4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.theme {
  width: 5rem;
  height: 5rem;
  margin-left: auto;
  background-image: url('../img/sun.svg');
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
  transition: 1s;

  &:hover {
    cursor: pointer;
  }
}

.header-nav__menu-btn {
  @media (max-width: 768px) {
    position: fixed;
    top: 2rem;
    right: calc(2rem + 10%);
    z-index: 2;
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5rem;
  }
}

.header-nav__ul {
  display: flex;
  margin: 0;
  padding: 0;
  box-shadow: none;
  transition-duration: 0.5s;
  padding-inline-start: 0;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    display: block;
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 10rem 8rem 0;
    background-color: $color-light-header-bckgrnd;
  }
}

.header-nav__li {
  padding: 3.2rem;
  border-radius: 0.5rem;
  list-style: none;
  font-size: 2rem;
  transition-duration: 0.5s;

  @media (max-width: 768px) {
    display: block;
    margin: 0 0 3.9rem;
    padding: 1rem;
    font-size: 3.5rem;
    text-align: left;
    transition-duration: 0.5s;
  }

  &:hover {
    cursor: pointer;
  }
}

.header-nav__menu-toggle {
  display: none;

  @media (max-width: 768px) {
    &:checked ~ .header-nav__menu-btn > .header-nav__hamburger-line {
      transform: rotate(45deg);
    }

    &:checked ~ .header-nav__menu-btn > .header-nav__hamburger-line::before {
      top: 0;
      transform: rotate(0);
    }

    &:checked ~ .header-nav__menu-btn > .header-nav__hamburger-line::after {
      top: 0;
      transform: rotate(90deg);
    }

    &:checked ~ .header-nav__ul {
      right: 0;
      box-shadow: 0 0 0 999rem rgba(0 0 0 / 50%);
    }

    &:checked ~ .header-nav__ul::before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.menu-btn {
  position: fixed;
  top: 2rem;
  right: 6.4rem;
  z-index: 3;
  display: none;
  align-items: center;
  width: 5rem;
  height: 5rem;

  @media (max-width: 768px) {
    display: flex;
  }
}

.header-nav__hamburger-line,
.header-nav__hamburger-line::before,
.header-nav__hamburger-line::after {
  @media (max-width: 768px) {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.3rem;
    background-color: black;
    transition-duration: 0.5s;
  }
}

.header-nav__hamburger-line::before {
  @media (max-width: 768px) {
    content: "";
    top: -1.25rem;
  }
}

.header-nav__hamburger-line::after {
  @media (max-width: 768px) {
    content: "";
    top: 1.25rem;
  }
}

// Main

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.stat {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 2.6rem;
  font-family: 'Courier New', Courier, monospace;

  &__img {
    width: 5rem;
  }
}

.stat__player {
  width: 5rem;
  height: 5rem;
  background-image: url('../img/smile-0.svg');
  background-position: center;
  background-size: contain;

  &_push {
    background-image: url('../img/smile-grim.svg');
  }

  &_mine {
    background-image: url('../img/smile-loose.svg');
  }

  &_win {
    background-image: url('../img/smile-win.svg');
  }

  &:hover {
    cursor: pointer;
  }
}

.stat__seconds,
.stat__num-moves,
.stat__num-flags,
.stat__num-mines {
  display: inline-block;
  width: 5rem;
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2rem 0;
}

.field-easy {
  width: 32rem;

  @media (max-width:768px) {
    width: calc(96vw * 0.4);
  }
}

.field-medium {
  width: 48rem;

  @media (max-width:768px) {
    width: calc(96vw * 0.6);
  }
}

.field-hard {
  width: 80rem;

  @media (max-width:768px) {
    width: 96vw;
  }
}

.field__cell {
  display: flex;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border-top: 0.4rem solid $color-light-header-bckgrnd;
  border-right: 0.4rem solid $color-light-footer-bckgrnd;
  border-bottom: 0.4rem solid $color-light-footer-bckgrnd;
  border-left: 0.4rem solid $color-light-header-bckgrnd;
  background-color: $color-light-cell-bckgrnd;
  font-size: 3em;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

  @media (max-width:768px) {
    width: calc(96vw / 25);
    height: calc(96vw / 25);
    font-size: calc(96vw / 25);
  }

  &_push {
    border-top: 0.4rem solid $color-light-footer-bckgrnd;
    border-right: none;
    border-bottom: none;
    border-left: 0.4rem solid $color-light-footer-bckgrnd;
  }

  &_unpush {
    border-top: none;
    border-right: 0.1rem solid $color-light-header-bckgrnd;
    border-bottom: 0.1rem solid $color-light-header-bckgrnd;
    border-left: none;
  }

  &_boom {
    background-color: #ff0000;
  }

  &_flag {
    background-image: url('../img/flag.svg');
    background-position: center;
    background-size: 1.6rem;
    background-repeat: no-repeat;
  }

  &-one {
    color: $color-font-one;
  }

  &-two {
    color: $color-font-two;
  }

  &-three {
    color: $color-font-three;
  }

  &-four {
    color: $color-font-four;
  }

  &-five {
    color: $color-font-five;
  }

  &-six {
    color: $color-font-six;
  }

  &-seven {
    color: $color-font-seven;
  }

  &-eight {
    color: $color-font-eight;
  }
}

.field__img {
  display: block;
  width: 2rem;
}

// Results

.result-msg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $color-light-message-bckgrnd;
  transition: 1s;

  &_unactive {
    top: -100%;
    opacity: 0;
  }
}

.result-msg__text {
  display: block;
  max-width: 90vw;
  font-size: 3rem;
  text-align: center;
}

.settings__sound {
  width: 14rem;
  background-image: url('../img/volume.svg');
  background-size: 4rem;

  &_mute {
    background-image: url('../img/mute.svg');
  }
}

.settings__difficulty {
  background-image: url('../img/settings.svg');
  background-size: 3rem;
}

.settings {
  position: relative;
  left: 2.2rem;
  display: flex;
  font-size: 3rem;
  column-gap: 5rem;

  > .settings__sound,
  .settings__difficulty {
    margin: auto;
    padding-right: 5rem;
    background-position: right;
    background-repeat: no-repeat;
    transition: 0.3s;

    &:hover {
      color: $color-light-footer-bckgrnd;
      cursor: pointer;
    }
  }
}

// Settings

.settings__window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $color-light-message-bckgrnd;
  transition: 1s;

  &_unactive {
    top: -100%;
    opacity: 0;
  }
}

.settings__header {
  font-size: 3rem;
}

.settings__field-size-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  font-size: 2em;
}

.settings__field-size-sizes {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1.6rem;
}

.settings__field-size-wrap {
  display: flex;
  align-items: center;
}

.settings__field-size-legend {
  font-size: 2.4rem;
}

.settings__field-size-label {
  padding-left: 1rem;

  &::before {
    content: '';
    position: relative;
    top: 0.3rem;
    right: 1rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding-left: 0.2rem;
    border: 0.1rem solid $color-light-footer-bckgrnd;
    border-radius: 0.5rem;
  }

  &:hover {
    cursor: pointer;

    &::before {
      content: '✓';
    }
  }
}

.settings__field-size-radio {
  display: none;

  &:checked + .settings__field-size-label::before {
    content: '✓';
  }
}

.settings__field-size-fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings__num-mines-wrap {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.settings__num-mines {
  width: 2em;
}

.settings__num-mines::-webkit-outer-spin-button,
.settings__num-mines::-webkit-inner-spin-button {
  appearance: none;
}

.settings__num-mines-decrease,
.settings__num-mines-increase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border: 0.1em solid $color-light-footer-bckgrnd;
  border-radius: 0.3em;

  &:hover {
    cursor: pointer;
  }
}

.settings__submit {
  border: none;
  background-color: $color-btn-accept;
}

.settings__reject {
  background-color: $color-btn-reject;
}

// Records

.records {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $color-light-message-bckgrnd;
  transition: 1s;

  &_unactive {
    top: -100%;
    opacity: 0;
  }
}

.records__title {
  font-size: 3rem;
}

.records__message {
  font-size: 2rem;
}

.records__table {
  display: grid;
  grid-template-columns: 1fr repeat(4, 0.3fr);
  border: 0.1rem solid $color-light-footer-bckgrnd;
  font-size: 2rem;
}

.records__cell-th,
.records__cell {
  padding: 0 0.5rem;
  border-right: 0.1rem solid $color-light-footer-bckgrnd;
  border-left: 0.1rem solid $color-light-footer-bckgrnd;
}

.records__cell-th {
  border: 0.1rem solid $color-light-footer-bckgrnd;
}

// Footer

.footer {
  background-color: $color-light-footer-bckgrnd;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
}

.footer__github {
  display: block;
  width: 9.6rem;
  height: 2.6rem;
  background-image: url('../img/GitHub_Logo.svg');
}

.footer__year {
  font-weight: 700;
  font-size: 2.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  &:hover {
    cursor:default;
  }
}

.footer__rss-logo {
  display: block;
  width: 8.1rem;
  height: 3rem;
  background-image: url('../img/rs_school_js.svg');
}

// Dark theme

.body_dark-theme {
  background-color: $color-dark-body-bckgrnd;
  color: $color-light-header-bckgrnd;

  .header {
    background-color: $color-dark-header-bckgrnd;
  }

  .header-nav__ul {
    @media (max-width: 768px) {
      background-color: $color-dark-header-bckgrnd;
    }
  }

  .header-nav__hamburger-line,
  .header-nav__hamburger-line::before,
  .header-nav__hamburger-line::after {
    @media (max-width: 768px) {
      background-color: $color-light-header-bckgrnd;
    }
  }

  .theme {
    background-image: url('../img/moon.svg');
  }

  .field__cell {
    border-top: 0.4rem solid $color-light-cell-bckgrnd;
    border-right: 0.4rem solid $color-dark-footer-bckgrnd;
    border-bottom: 0.4rem solid $color-dark-footer-bckgrnd;
    border-left: 0.4rem solid $color-light-cell-bckgrnd;
    background-color: $color-dark-cell-bckgrnd;

    &_push {
      border-top: 0.4rem solid $color-dark-footer-bckgrnd;
      border-right: none;
      border-bottom: none;
      border-left: 0.4rem solid $color-dark-footer-bckgrnd;
    }

    &_unpush {
      border: 0.1rem solid $color-dark-header-bckgrnd;
    }

    &_boom {
      background-color: #b40000;
    }
  }

  .result-msg {
    background-color: $color-dark-message-bckgrnd;
  }

  .button {
    background-color: $color-dark-header-bckgrnd;
    color: $color-light-header-bckgrnd;
  }

  .records {
    background-color: $color-dark-message-bckgrnd;
  }

  .settings__window {
    background-color: $color-dark-message-bckgrnd;
  }

  .settings__submit {
    background-color: $color-btn-dark-accept;
  }

  .settings__reject {
    background-color: $color-btn-dark-reject;
  }

  .footer {
    background-color: $color-dark-footer-bckgrnd;
  }

  .footer__github,
  .footer__rss-logo {
    filter: invert(45%) sepia(99%) saturate(0%) hue-rotate(241deg) brightness(94%) contrast(79%);
  }
}
