$color-light-back: #f0f8ff;
$color-light-lgray: #d3d3d3;
$color-light-dgray: #818181;
$color-light-gray: #bfbfbf;
$color-font-one: #0b24fb;
$color-font-two: #0e7a11;
$color-font-three: #fc0d1b;
$color-font-four: #020b79;
$color-font-five: #852123;
$color-font-six: #278786;
$color-font-seven: #000000;
$color-font-eight: #878787;
$color-dark-back: #191970;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  @media (max-width:768px) {
    font-size: 50%;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $color-light-back;
  user-select: none;

  &_dark-theme {
    background-color: $color-dark-back;
  }
}

.wrapper {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 10rem;
}

// Header

.header {
  background-color: $color-light-lgray;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  padding: 2rem 0;
  font-size: 4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-nav__menu-btn {
  @media (max-width: 768px) {
    position: fixed;
    top: 2rem;
    right: calc(2rem + 10%);
    z-index: 2;
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5rem;
  }
}

.header-nav__ul {
  display: flex;
  margin: 0;
  padding: 0;
  box-shadow: none;
  transition-duration: 0.5s;
  padding-inline-start: 0;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    display: block;
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 10rem 8rem 0;
    background-color: $color-light-lgray;
  }
}

.header-nav__li {
  padding: 3.2rem;
  border-radius: 0.5rem;
  list-style: none;
  font-size: 2rem;
  transition-duration: 0.5s;

  @media (max-width: 768px) {
    display: block;
    margin: 0 0 3.9rem;
    padding: 1rem;
    font-size: 3.5rem;
    text-align: left;
    transition-duration: 0.5s;
  }

  &:hover {
    cursor: pointer;
  }
}

.header-nav__menu-toggle {
  display: none;

  @media (max-width: 768px) {
    &:checked ~ .header-nav__menu-btn > .header-nav__hamburger-line {
      transform: rotate(45deg);
    }

    &:checked ~ .header-nav__menu-btn > .header-nav__hamburger-line::before {
      top: 0;
      transform: rotate(0);
    }

    &:checked ~ .header-nav__menu-btn > .header-nav__hamburger-line::after {
      top: 0;
      transform: rotate(90deg);
    }

    &:checked ~ .header-nav__ul {
      right: 0;
      box-shadow: 0 0 0 999rem rgba(0 0 0 / 50%);
    }

    &:checked ~ .header-nav__ul::before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.menu-btn {
  position: fixed;
  top: 2rem;
  right: 6.4rem;
  z-index: 3;
  display: none;
  align-items: center;
  width: 5rem;
  height: 5rem;

  @media (max-width: 768px) {
    display: flex;
  }
}

.header-nav__hamburger-line,
.header-nav__hamburger-line::before,
.header-nav__hamburger-line::after {
  @media (max-width: 768px) {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.3rem;
    background-color: black;
    transition-duration: 0.5s;
  }
}

.header-nav__hamburger-line::before {
  @media (max-width: 768px) {
    content: "";
    top: -1.25rem;
  }
}

.header-nav__hamburger-line::after {
  @media (max-width: 768px) {
    content: "";
    top: 1.25rem;
  }
}

// Main

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.stat {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 2.6rem;
  font-family: 'Courier New', Courier, monospace;

  &__img {
    width: 5rem;
  }
}

.stat__player {
  width: 5rem;
  height: 5rem;
  background-image: url('../img/smile-0.svg');
  background-position: center;
  background-size: contain;

  &_push {
    background-image: url('../img/smile-grim.svg');
  }

  &_mine {
    background-image: url('../img/smile-loose.svg');
  }

  &_win {
    background-image: url('../img/smile-win.svg');
  }
}

.stat__seconds,
.stat__num-moves {
  display: inline-block;
  width: 5rem;
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2rem 0;
}

.field-easy {
  width: 32rem;
}

.field-medium {
  width: 48rem;
}

.field-hard {
  width: 80rem;
}

.field__cell {
  display: flex;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border-top: 0.6rem solid $color-light-lgray;
  border-right: 0.6rem solid $color-light-dgray;
  border-bottom: 0.6rem solid $color-light-dgray;
  border-left: 0.6rem solid $color-light-lgray;
  background-color: $color-light-gray;
  font-size: 2.8rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

  &_push {
    border-top: 0.4rem solid $color-light-dgray;
    border-right: none;
    border-bottom: none;
    border-left: 0.4rem solid $color-light-dgray;
  }

  &_unpush {
    border-top: none;
    border-right: 1px solid $color-light-lgray;
    border-bottom: 1px solid $color-light-lgray;
    border-left: none;
  }

  &_boom {
    background-color: #ff0000;
  }

  &_flag {
    background-image: url('../img/flag.svg');
    background-position: center;
    background-size: 1.6rem;
    background-repeat: no-repeat;
  }

  &-one {
    color: $color-font-one;
  }

  &-two {
    color: $color-font-two;
  }

  &-three {
    color: $color-font-three;
  }

  &-four {
    color: $color-font-four;
  }

  &-five {
    color: $color-font-five;
  }

  &-six {
    color: $color-font-six;
  }

  &-seven {
    color: $color-font-seven;
  }

  &-eight {
    color: $color-font-eight;
  }
}

.field__img {
  display: block;
  width: 2rem;
}

.rezult-msg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fffffff0;
  transition: 1s;

  &_unactive {
    top: -100%;
    opacity: 0;
  }
}

.rezult-msg__text {
  display: block;
  font-size: 3rem;
}

.rezult-msg__btn {
  padding: 2rem;
  background-color: $color-light-lgray;
  font-size: 2rem;

  &:hover {
    cursor: pointer;
  }
}

.settings {
  display: flex;
  font-size: 3rem;
  column-gap: 5rem;

  > * {
    padding-right: 5rem;
    background-position: right;
    background-repeat: no-repeat;
    transition: 0.3s;

    &:hover {
      color: $color-light-dgray;
      cursor: pointer;
    }
  }
}

.settings__sound {
  background-image: url('../img/volume.svg');
  background-size: 4rem;

  &_mute {
    background-image: url('../img/mute.svg');
  }
}

.settings__difficulty {
  background-image: url('../img/settings.svg');
  background-size: 3rem;
}

.settings__window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fffffff0;
  transition: 1s;

  &_unactive {
    top: -100%;
    opacity: 0;
  }
}

.settings__header {
  font-size: 3rem;
}

.settings__field-size-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

.settings__field-size-sizes {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1.6rem;
}

.settings__field-size-legend {
  font-size: 2.4rem;
}

.settings__field-size-label {
  padding-left: 1rem;
  font-size: 2rem;
}

.settings__num-mines-select {
  font-size: 2rem;
}

.settings__num-mines-option {
  font-size: 2rem;
}

.settings__submit {
  font-size: 2rem;
}

.records {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fffffff0;
  transition: 1s;

  &_unactive {
    top: -100%;
    opacity: 0;
  }
}

.records__title {
  font-size: 3rem;
}

.records__table {
  display: grid;
  grid-template-columns: 1fr repeat(4, 0.3fr);
  border: 0.1rem solid $color-light-dgray;
}

.records__cell-th,
.records__cell {
  padding: 0 0.5rem;
  border-right: 0.1rem solid $color-light-dgray;
  border-left: 0.1rem solid $color-light-dgray;
  font-size: 2rem;
}

.records__cell-th {
  border: 0.1rem solid $color-light-dgray;
}

.records__btn {
  padding: 2rem;
  background-color: $color-light-lgray;
  font-size: 2rem;

  &:hover {
    cursor: pointer;
  }
}

// Footer

.footer {
  background-color: $color-light-dgray;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
}

.footer__github {
  display: block;
  width: 9.6rem;
  height: 2.6rem;
  background-image: url('../img/GitHub_Logo.svg');
}

.footer__year {
  font-weight: 700;
  font-size: 2.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  &:hover {
    cursor:default;
  }
}

.footer__rss-logo {
  display: block;
  width: 8.1rem;
  height: 3rem;
  background-image: url('../img/rs_school_js.svg');
}