@import "variables";

/* Common */

@font-face {
  font-family: "Arial", sans-serif;
  font-style: normal;
  src: url("../fonts/arial-regular.ttf");
}

@font-face {
  font-family: "Arial", sans-serif;
  font-style: italic;
  src: url("../fonts/arial-italic.ttf");
}

@font-face {
  font-family: "Georgia", serif;
  font-style: normal;
  src: url("../fonts/georgia-regular.ttf");
}

html {
  font-size: 62.5%;
  font-family: "Georgia", serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  transition: 0.3s;
}

.wrapper {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem 0 10rem;
}

.left-arr {
  background-image: url("../svg/Arrow-left.svg");
}

.right-arr {
  background-image: url("../svg/Arrow-right.svg");
}

/* Buttons */

.link-btn {
  display: block;
  width: 20.8rem;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  line-height: 1.3;
  color: $color-dark-3xl;
  text-decoration: none;
  letter-spacing: 0.06em;
  background-color: $color-primary;
  border-radius: 10rem;

  &:hover {
    background-color: $color-primary-light;
  }
}

/* Article */

.article {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 1.3;
    color: $color-dark-l;
    letter-spacing: 0.06em;
  }

  &__text {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: "Arial", sans-serif;
    font-style: normal;
  }
}

/* Header */

.header {
  position: absolute;
  top: 3.1rem;
  width: 100%;

  &__wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  &__link {
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }
}

/* Logo */

.logo {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  align-items: center;

  &__title {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.52rem;
    color: $color-primary;
    letter-spacing: 0.06em;
    margin-block-start: 0;
    margin-block-end: 0;

    .header__link:hover & {
      color: $color-dark-s;
    }
  }

  &__subtitle {
    padding-left: 0.3rem;
    font-size: 1.3rem;
    line-height: 0.7;
    font-family: "Arial", sans-serif;
    color: $color-light-xl;
    letter-spacing: 0.1em;

    .header__link:hover & {
      color: $color-dark-s;
    }
  }
}

/* nav */

.nav {
  &__menu-toggle {
    display: none;
  }

  &__list {
    display: flex;
    column-gap: 3.6rem;
  }

  &__item {
    list-style-type: none;
  }

  &__link,
  &__link_active {
    font-size: 1.5rem;
    font-family: "Arial", sans-serif;
    text-decoration: none;
  }

  &__link {
    color: $color-dark-s;

    &:hover {
      color: $color-light-s;
    }
  }

  &__link_active {
    padding-bottom: 0.2rem;
    color: $color-light-s;
    border-bottom: 0.3rem solid $color-primary;

    &:hover {
      cursor: default;
    }
  }
}

/* Main */

/* Not-only */

.not-only {
  background: url("../img/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

  &__wrapper {
    padding: 18rem 0 0;
  }

  &__article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 27.7rem min-content 1fr;
    gap: 4.2rem;
  }

  &__article-title {
    display: block;
    align-self: end;
    grid-area: 1 / 1 / 2 / 2;
    max-width: 32rem;
    font-size: 4.4rem;
    color: $color-light-xl;
    letter-spacing: normal;
  }

  &__article-text {
    display: block;
    grid-area: 2 / 1 / 3 / 2;
    text-align: justify;
    color: $color-dark-s;
  }

  &__img {
    display: block;
    grid-area: 1 / 2 / 4 / 3;
  }

  &__btn {
    align-self: start;
    grid-area: 3 / 1 / 4 / 2;
  }
}

/* about */

.about {
  &__wrapper {
    justify-content: center;
    align-items: center;
    column-gap: 12rem;
  }

  &__img {
    display: block;
  }

  &__article {
    row-gap: 2.5rem;
    max-width: 43rem;
  }

  &__article-title {
    max-width: 37rem;
  }
}

/* our-friends */

.our-friends {
  background: $color-light-l;

  &__wrapper {
    flex-direction: column;
    row-gap: 6rem;
    align-items: center;
  }

  &__title {
    max-width: 40rem;
    text-align: center;
  }

  &__slider {
    display: flex;
    align-items: center;
    column-gap: 5.3rem;
  }

  &__nav-elem {
    display: block;
    width: 5.2rem;
    height: 5.2rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 0.2rem solid $color-primary;
    border-radius: 50%;

    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      cursor: pointer;
    }
  }

  &__cards-wrapper {
    max-width: 99rem;
  }

  &__cards {
    display: flex;
    justify-content: center;
    column-gap: 9rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 27rem;
    min-height: 43.5rem;
    overflow: hidden;
    background-color: $color-light-s;
    row-gap: 3rem;
    border-radius: 0.9rem;

    &:hover {
      background-color: $color-light-xl;
      box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
      cursor: pointer;
    }

    &:hover .our-friends__card-link {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }

  &__card-link {
    width: auto;
    padding: 1.3rem 4.3rem;
    background-color: transparent;
    border: 0.2rem solid $color-primary;

    &:hover {
      cursor: pointer;
    }
  }

  &__pet-text {
    font-size: 2rem;
    color: $color-dark-l;
    letter-spacing: 0.06em;
  }

  &__btn {
    width: max-content;
  }
}

/* Help */

.help {
  &__wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 6rem;
  }

  &__title {
    max-width: 31rem;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 12rem;
    row-gap: 5.4rem;
  }

  &__card {
    min-width: 6rem;
    padding-top: 9rem;
    font-size: 2rem;
    text-align: center;
    color: $color-dark-l;
    letter-spacing: 0.06em;
    background-repeat: no-repeat;
    background-position: center top;

    &:nth-child(1) {
      background-image: url("../svg/icon-pet-food.svg");
    }

    &:nth-child(2) {
      background-image: url("../svg/icon-transportation.svg");
    }

    &:nth-child(3) {
      background-image: url("../svg/icon-toys.svg");
    }

    &:nth-child(4) {
      background-image: url("../svg/icon-bowls-and-cups.svg");
    }

    &:nth-child(5) {
      background-image: url("../svg/icon-shampoos.svg");
    }

    &:nth-child(6) {
      background-image: url("../svg/icon-vitamins.svg");
    }

    &:nth-child(7) {
      background-image: url("../svg/icon-medicines.svg");
    }

    &:nth-child(8) {
      background-image: url("../svg/icon-collars-leashes.svg");
    }

    &:nth-child(9) {
      background-image: url("../svg/icon-sleeping-area.svg");
    }
  }
}

/* In-addition */

.in-addition {
  &__wrapper {
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
  }

  &__article {
    max-width: 38rem;
    row-gap: 2rem;
  }

  &__title {
    max-width: 30rem;
  }

  &__bank-name {
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.06em;
  }

  &__link {
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__card-number {
    width: fit-content;
    padding: 1rem 1.5rem 1rem 6rem;
    font-size: 2rem;
    color: $color-dark-l;
    letter-spacing: 0.06em;
    background-color: $color-primary;
    background-image: url("../svg/credit-card.svg");
    background-repeat: no-repeat;
    background-position: 1.5rem center;
    border-radius: 0.9rem;

    &:hover {
      color: $color-dark-3xl;
      background-color: $color-primary-light;
    }
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.5;
    color: $color-dark-m;
    font-style: italic;
  }
}


/* Footer */

.footer {
  background: url("../img/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

  &__title {
    position: absolute;
    visibility: hidden;
  }

  &__wrapper {
    justify-content: space-between;
    padding: 4rem 0 0;
  }

  &__article {
    padding-top: 1.6rem;
    row-gap: 4rem;

    &:nth-child(2) {
      max-width: 27.9rem;
    }

    &:nth-child(3) {
      max-width: 30.2rem;
      row-gap: 3.3rem;
    }
  }

  &__article-title {
    color: $color-light-xl;
  }

  &__link {
    display: flex;
    align-items: center;
    min-height: 3.2rem;
    padding-left: 6rem;
    font-size: 2rem;
    color: $color-primary;
    text-decoration: none;
    letter-spacing: 0.06em;
    background-repeat: no-repeat;
    background-position: 0 center;
  }

  &__email {
    background-image: url("../svg/icon-email.svg");
  }

  &__phone {
    background-image: url("../svg/icon-phone.svg");
  }

  &__map {
    padding-left: 4.2rem;
    background-image: url("../svg/icon-marker.svg");
  }

  &__picture {
    width: 30rem;
    height: 31rem;
    background-image: url("../img/footer-puppy.png");
  }
}
