@import "variables";

.header {
  position: static;
  padding: 3rem 4rem 3.4rem;
  background-color: $color-light-xl;
}

.logo {
  &__title {
    color: $color-dark-l;
  }

  &__subtitle {
    color: $color-dark-3xl;
  }
}

.nav__link {
  color: $color-dark-l;

  &:hover {
    color: $color-dark-3xl;
  }

  &_active {
    color: $color-dark-l;
  }
}

.our-friends {
  &__wrapper {
    padding-bottom: 9.6rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 3.1rem;
  }

  &__cards-arrows {
    display: flex;
    margin-bottom: 0.2rem;
    column-gap: 2rem;
  }

  &__nav-elem:disabled {
    border-color: $color-dark-s;

    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }
}

.double-arr,
.single-arr,
.num-page {
  padding-bottom: 0.3em;
  font-size: 2rem;
  letter-spacing: 0.06em;
}

.num-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;
    cursor: default;
  }
}
