/* Common */
@font-face {
  font-weight: 400;
  font-family: "Georgia", serif;
  font-style: normal;
  src: url("../fonts/georgia-regular.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Arial", sans-serif;
  font-style: normal;
  src: url("../fonts/arial-regular.ttf");
}
html {
  font-size: 62.5%;
  font-family: "Georgia", serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  transition: 0.3s;
}

.wrapper {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem 0 10rem;
}

/* Buttons */
.link-btn {
  display: block;
  width: 20.8rem;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  line-height: 1.3;
  color: #292929;
  text-decoration: none;
  letter-spacing: 0.06em;
  background-color: #f1cdb3;
  border-radius: 100px;
}

/* Article */
.article__title {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1.3;
  color: #545454;
  letter-spacing: 0.06em;
}

.article__text {
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: "Arial", sans-serif;
}

/* Header */
.header {
  position: absolute;
  top: 3.1rem;
  width: 100%;
}

.header__wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header__link {
  text-decoration: none;
}

/* Logo */
.logo {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  align-items: center;
}

.logo__title {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.52rem;
  color: #f1cdb3;
  letter-spacing: 0.06em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.logo__subtitle {
  padding-left: 3px;
  font-size: 1.3rem;
  line-height: 0.7;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 0.1em;
}

/* nav */
.nav__menu-toggle {
  display: none;
}

.nav__list {
  display: flex;
  column-gap: 3.6rem;
}

.nav__item,
.nav__item_active {
  list-style-type: none;
}

.nav__link,
.nav__link_active {
  font-size: 1.5rem;
  font-family: "Arial", sans-serif;
  color: #cdcdcd;
  text-decoration: none;
}

.nav__link_active {
  padding-bottom: 0.3rem;
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

/* Main */
/* Not-only */
.not-only {
  background: url("../img/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.not-only__wrapper {
  padding: 18rem 0 0;
}

.not-only__article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 27.7rem min-content 1fr;
  gap: 4.2rem;
}

.not-only__article-title {
  display: block;
  align-self: end;
  grid-area: 1/1/2/2;
  max-width: 32rem;
  font-size: 4.4rem;
  color: #ffffff;
  letter-spacing: normal;
}

.not-only__article-text {
  display: block;
  grid-area: 2/1/3/2;
  text-align: justify;
  color: #cdcdcd;
}

.not-only__img {
  display: block;
  grid-area: 1/2/4/3;
}

.not-only__btn {
  align-self: start;
  grid-area: 3/1/4/2;
}

/* about */
.about__wrapper {
  justify-content: center;
  align-items: center;
  column-gap: 12rem;
}

.about__img {
  display: block;
}

.about__article {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  max-width: 43rem;
}

.about__article-title {
  max-width: 37rem;
}

/* our-friends */
.our-friends {
  background: #f6f6f6;
}

.our-friends__wrapper {
  flex-direction: column;
  row-gap: 6rem;
  align-items: center;
}

.our-friends__title {
  max-width: 40rem;
  text-align: center;
}

.our-friends__slider {
  display: flex;
  align-items: center;
  column-gap: 5.3rem;
}

.our-friends__arr {
  display: block;
  width: 52px;
  height: 52px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
}

.left-arr {
  background-image: url("../svg/Arrow-left.svg");
}

.right-arr {
  background-image: url("../svg/Arrow-right.svg");
}

.our-friends__cards-wrapper {
  max-width: 99rem;
}

.our-friends__cards {
  display: flex;
  justify-content: center;
  column-gap: 9rem;
}

.our-friends__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 27rem;
  min-height: 43.5rem;
  background-color: #fafafa;
  row-gap: 3rem;
  border-radius: 0.9rem;
}

.our-friends__pet-img {
  border-radius: 0.9rem;
}

.our-friends__pet-text {
  font-size: 2rem;
  color: #545454;
  letter-spacing: 0.06em;
}

.our-friends__card-link {
  width: auto;
  padding: 1.3rem 4.3rem;
  background-color: transparent;
  border: 0.2rem solid #f1cdb3;
}

.our-friends-btn {
  width: max-content;
}

/* Help */
.help__wrapper {
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

.help__title {
  max-width: 31rem;
  text-align: center;
}

.help__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 12rem;
  row-gap: 5.4rem;
}

.help__card {
  min-width: 60px;
  padding-top: 90px;
  font-size: 2rem;
  text-align: center;
  color: #545454;
  letter-spacing: 0.06em;
  background-repeat: no-repeat;
  background-position: center top;
}
.help__card:nth-child(1) {
  background-image: url("../svg/icon-pet-food.svg");
}
.help__card:nth-child(2) {
  background-image: url("../svg/icon-transportation.svg");
}
.help__card:nth-child(3) {
  background-image: url("../svg/icon-toys.svg");
}
.help__card:nth-child(4) {
  background-image: url("../svg/icon-bowls-and-cups.svg");
}
.help__card:nth-child(5) {
  background-image: url("../svg/icon-shampoos.svg");
}
.help__card:nth-child(6) {
  background-image: url("../svg/icon-vitamins.svg");
}
.help__card:nth-child(7) {
  background-image: url("../svg/icon-medicines.svg");
}
.help__card:nth-child(8) {
  background-image: url("../svg/icon-collars-leashes.svg");
}
.help__card:nth-child(9) {
  background-image: url("../svg/icon-sleeping-area.svg");
}

/*# sourceMappingURL=style.css.map */
