$color-body: #2e2a23;
$color-text: #6c6965;
$color-table: linear-gradient(#dd992d, #cd8c26);

html {
  font-size: 62.5%;
}

.body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: $color-text;
  background-color: $color-body;
}

.wrapper {
  max-width: 80rem;
  margin: 0 auto;
}

.header__title {
  font-size: 1.6em;
}

.game-field__task-text {
  font-size: 4.5em;
}

.game-field__table {
  min-height: 14.2rem;
  background: $color-table;
}
