@import "./reset";

$color-body: #2e2a23;
$color-text: #6c6965;
$color-table: #cd8c26;
$color-plate: #ffffff;
$color-plate-line: #cccccc;
$color-plate-highlight: #ffffff66;
$color-bento-background: #a52a2a;
$color-bento-border: #711c12;
$color-editor-border: #00000059;
$color-editor-header: #ffffff99;
$color-editor-header-background: #00000026;
$color-editor-header-border: #ffffff0d;
$color-editor-css-page-color: #aaaaaa;
$color-editor-css-page-backround: #efefef;
$color-editor-css-num-lines: #dddddd;
$color-editor-css-num-item: #999999;
$color-editor-html-page-background: #0000004d;
$color-editor-html-num-lines-border: #333333;
$color-level-header: #ffffff80;
$color-level-background: #221e18;
$color-level-hover-background: #ffffff1a;
$color-input-background: #3ecbff4d;
$color-input-btn: #666666;
$color-input-btn-background: #dedede;
$color-input-btn-border: #999999;
$color-reset-btn-border: #ffffff33;
$color-html-code-hover: #ffffffb3;
$color-apple-background: #e41919;
$color-apple-border: #ab1212;


%num-li-font {
  font-size: 1.4rem;
  line-height: 1.5;
  color: $color-editor-css-num-item;
}

%level-hover {
  cursor: pointer;
  background-color: $color-level-hover-background;
}

%code-field {
  width: 26rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4rem;
  line-height: 1.5;
}

// Оригинал анимации https://flukeout.github.io/

@keyframes input {
  50% { background: none; }
}

html {
  font-size: 62.5%;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
  color: $color-text;
  background-color: $color-body;
}

.page-wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 5fr 1fr;
  min-height: 100%;
}

.header {
  grid-area: 1/1/2/2;

  &__wrapper {
    padding: 1.2rem 1.5rem;
  }

  &__logo {
    display: block;
    height: 2rem;
    padding: 0.3rem 0 0 2.5rem;
    font-size: 1.6em;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 2rem;
  }
}

.main {
  grid-area: 2/1/3/2;

  &__wrapper {
    width: fit-content;
    margin: 0 auto;
  }
}

.game-field {
  &__task-text {
    width: fit-content;
    padding: 2rem;
    margin: 0 auto;
    font-size: 4.5em;
  }

  &__table-wrapper {
    padding: 1rem;
  }

  &__table {
    position: relative;
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    min-height: 14.2rem;
    padding: 5.5rem 2rem 2rem;
    background: $color-table;
  }
}

.table{
  &__plate,
  &__plate_fancy {
    width: 10rem;
    height: 10rem;
    background-color: $color-plate;
    border-radius: 50%;

    &::before {
      position: relative;
      top: 1.5rem;
      left: 1.5rem;
      display: block;
      width: 7rem;
      height: 7rem;
      content: '';
      border: 0.2rem solid $color-plate-line;
      border-radius: 50%;
    }
  }

  &__plate_fancy {
    border:  1.1rem solid $color-input-background;

    &::before {
      top: 0.4rem;
      left: 0.4rem;
    }
  }

  &__bento {
    width: 10rem;
    height: 10rem;
    background: $color-bento-background;
    border: solid 0.3rem $color-bento-border;
    border-width: 2rem 0.2rem;
  }

  &__apple {
    width: 6rem;
    height: 6rem;
    background: $color-apple-background;
    border: $color-apple-border;
    border-style: solid;
    border-width: 2px 4px 15px;
    border-radius: 50%;
  }
  
  &__code_light {
    box-shadow: 0 0 0 0.6rem $color-plate-highlight;
  }
}

.object-tag {
  &:hover {
    box-shadow: 0 0 0 0.6rem $color-plate-highlight;
  }

  &__strobe {
    transform-origin: bottom;
    animation: translate 0.7s infinite;
  }

  &__descr {
    position: absolute;
    top: 1rem;
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: $color-editor-css-page-backround;
    opacity: 0;
    transition: 0.3s;

    &_active {
      opacity: 1;
    }
  }
  &__child {
    position: relative;
    bottom: 5rem;
    left: 2rem;
  }
}

@keyframes translate {
  0% {
    transform:  translateY(0);
  }
  50% {
    transform:  translateY(-0.7rem);
  }
  100% {
    transform:  translateY(0);
   }
}

.editor {
  display: flex;
  border: solid 1rem $color-editor-border;

  &__css,
  &__html {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    color: $color-editor-header;
    user-select: none;
    background: $color-editor-header-background;
    border-top: solid 0.1rem $color-editor-header-border;
    border-bottom: solid 0.1rem $color-editor-header-border;
    border-radius: 0.2rem 0.2rem 0 0;

    &:hover {
      cursor: default;
    }
  }

  &__file-name {
    opacity: 0.5;
  }

  &__css-page {
    display: flex;
    color: #aaaaaa;
    background: $color-editor-css-page-backround;
  }

  &__html-page {
    display: flex;
    background: $color-editor-html-page-background;
    border-right: solid 0.1rem $color-editor-html-num-lines-border;
    border-bottom: solid 0.1rem $color-editor-html-num-lines-border;
  }

  &__num-lines {
    display: block;
    width: fit-content;
    padding: 1rem;
  }

  &__num-lines-list {
    list-style-type: none;
    counter-reset: item;
  }

  &__num-lines-item {
    @extend %num-li-font;

    text-align: end;

    &::before {
      content: counter(item) ""; 
      counter-increment: item;
    }
  }
}

.css-editor {
  &__input-label {
    display: none;
  }

  &__num-lines {
    background-color: $color-editor-css-num-lines;
  }
  &__input-form {    
    @extend %code-field;

    display: flex;
    column-gap: 0.5rem;
    height: fit-content;
    padding: 0.8rem 1rem;
  }

  &__input-field {
    flex-grow: 1;
    background: $color-input-background;
    animation: input .7s infinite
  }

  &__input-btn {
    padding: 0.2rem 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: $color-input-btn;
    background: $color-input-btn-background;
    border: solid 0.3rem $color-input-btn-border;
    border-width: 0.1rem 0.1rem 0.6rem;
    border-radius: 0.2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.html-editor {
  &__num-lines,
  &__header {
    border-right: solid 0.1rem $color-editor-html-num-lines-border;
  }

  &__code-page,
  &__code {
    @extend %code-field;

    padding: 1rem;
    cursor: default;
  }

  &__code {
    padding: 0;
    font-size: 1em;
  }

  &__code-block {
    &:hover {
      color: $color-html-code-hover;
    }

    // &:not(:first-child):hover,
    // &:not(:last-child):hover {
    //   color: $color-html-code-hover;
    // }
  }
}

.footer {
  grid-area: 3/1/4/2;
}

.levels {
  grid-area: 1/2/4/3;
  width: 100%;
  background-color: $color-level-background;

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 2rem 0 7rem;
  }

  &__line-wrapper {
    padding: 0 3rem;
  }

  &__header {
    font-size: 2.2em;
    color: $color-level-header;
  }

  &__list {
    flex-grow: 1;
    padding-top: 2rem;
  }

  &__list-item {
    @extend %num-li-font;
    
    font-size: 1.6em;
    text-align: start;
    transition: 0.3s;

    &:hover {
      @extend %level-hover;
    }

    &::before {
      content: ' 🗸 ';
    }

    &_active {
      background-color: $color-reset-btn-border;
    }
  }
}

.reset-btn {
  width: 100%;
  max-width: 18rem;
  padding: 1rem 0;
  font-size: 1.6em;
  text-align: center;
  border: solid 0.2rem $color-reset-btn-border;
  transition: 0.3s;

  &:hover {
    @extend %level-hover;
  }
}